<a href="https://colab.research.google.com/github/24ht1a4339/Surendra-77/blob/main/Exp_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Define a functionwith multiple return values

In [ ]:
def name():
  return "john","armin"
# print the tuple with the returned values
print(name())
#  get the individual items
name_1,name_2=name()
print(name_1,name_2)

('john', 'armin')
john armin

function using default arguments

In [ ]:
def student(firstname,lastname='marks',standard='fifth'):
  print(firstname,lastname,'studies in',standard,'standard')
# 1 keyword argument
student(firstname='john')

# 2 keyword arguments
student(firstname='john',standard='seventh')

# 2 keyword arguments
student(lastname='Gates',firstname='john')

john marks studies in fifth standard
john marks studies in seventh standard
john Gates studies in fifth standard

find the length of the  string without using any library functions

In [ ]:
string=input("Enter string")
count=0
for i in string:
  count=count+1
  print("Length of the string is:")
  print(count)

Enter stringhello
Length of the string is:
1
Length of the string is:
2
Length of the string is:
3
Length of the string is:
4
Length of the string is:
5

to check if the sub tring is present in a given string or not

In [ ]:
string_raw=input("Enter string:")
sub_st=input("Enter word:")
if string_raw.find(sub_st) == -1:
  print("substring is not found in string!")
else:
  print("substring in string!")

Enter string:hello world
Enter word:world
substring in string!

addition

In [ ]:
test_list1=[1,3,4,6,8]
test_list2=[4,5,6,2,10]
print("original list 1:"+str(test_list1))
print("original list 2:"+str(test_list2))
res_list=[]
for i in range(0,len(test_list1)):
  res_list.append(test_list1[i]+test_list2[i])
  print("resultant list is:"+ str(res_list))

original list 1:[1, 3, 4, 6, 8]
original list 2:[4, 5, 6, 2, 10]
resultant list is:[5]
resultant list is:[5, 8]
resultant list is:[5, 8, 10]
resultant list is:[5, 8, 10, 8]
resultant list is:[5, 8, 10, 8, 18]

insertion

In [ ]:
score=[43,45,99,76]
score.insert(2,45)
print(score)

[43, 45, 45, 99, 76]

slicing

In [ ]:
list=[1,2,3,4,5,6,7,8,9]
print("original list:\n",list)
print("\nsliced lists:")
print(list[3:9:2])
print(list[::2])
print(list[::])

original list:
 [1, 2, 3, 4, 5, 6, 7, 8, 9]

sliced lists:
[4, 6, 8]
[1, 3, 5, 7, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9]

write a program to perform any built in function by taking any list

In [ ]:
var=-94
print('absolute value of integer is:',abs(var))

absolute value of integer is: 94

it turns false if the iterable oblect is emptythe all() functions turn true

In [ ]:
k=[1,3,4,6]
k=[0,False]
print(all(k))
k=[1,3,7,0]
print(all(k))
k=[0,False,5]
print(all(k))
k=[]
print(all(k))

False
False
False
True

sum() function is used to get the sum of the numbers of an iterable

In [ ]:
s=sum([1,2,4])
print(s)
s=sum([1,2,4],10)
print(s)

7
17

it is an immutable version of the bytearray() function

In [ ]:
string_val = "hello world"
array = bytes(string_val, 'utf-8')
print(array)

b'hello world'